<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139791381142-ovvbt20lb4m96sggm2lf7aqenl3oi9gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139791381142-ovvbt20lb4m96sggm2lf7aqenl3oi9gu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>139791381142-5tdr7qbbp8depkki140nu5hsvediufni.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqXByk_cAoMGHIaFoGoMhhpOjGumdMjSI</string>
	<key>GCM_SENDER_ID</key>
	<string>139791381142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infopromoV1</string>
	<key>PROJECT_ID</key>
	<string>myinfopromo-8c7fd</string>
	<key>STORAGE_BUCKET</key>
	<string>myinfopromo-8c7fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139791381142:ios:262b46be3c71048f5d88b7</string>
</dict>
</plist>